@tailwind base;
@tailwind components;
@tailwind utilities;

/* 	hsl(142, 77%, 73%) */
/* hsl(0, 84%, 60%) */
.input-text:focus {
  border-color: hsl(156 72% 67%);
  box-shadow: 0 0 0 3px hsla(156, 72%, calc(42% + 40%), 0.8);
  outline: 3px solid transparent;
}
.input-text-error:focus {
  border-color: hsl(0 84% 67%);
  box-shadow: 0 0 0 3px hsla(0, 84%, calc(42% + 40%), 0.8);
  outline: 3px solid transparent;
}

.hide-scroolbar::-webkit-scrollbar {
  display: none;
}

.grd {
  background-image: linear-gradient(#f8f9fa, #fff);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

@keyframes slideIn {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

.animate-slideOut {
  animation: slideOut 0.3s ease-in-out;
}

@layer components {
  .nav-btn {
    @apply w-9 h-9 hover:bg-[#e7eee7] flex items-center justify-center rounded-md;
  }
  .btn {
    @apply flex items-center py-2 px-4 gap-x-2 text-white rounded-md bg-[#047857] text-sm;
  }
  .search-input {
    @apply py-1 input-text rounded-md bg-[#f8f9fa] border 
    border-[#e5e7eb] text-sm px-2;
  }
  .customer-modal-inp-content {
    @apply flex justify-between xl:items-center  flex-row max-[900px]:flex-col text-[#4b5563];
  }
  .customer-modal-input {
    @apply search-input xl:w-96 md:w-64 sm:w-48 w-36 py-1;
  }
  .autos-modal-inp-content {
    @apply flex justify-between xl:items-center  xl:flex-row flex-col text-[#6b7280] text-sm;
  }
  .autos-modal-input {
    @apply search-input xl:w-96 md:w-72 sm:w-60 w-48 py-1 text-black;
  }
  .autos-conditon-of-vehicle-inp-content {
    @apply flex flex-col gap-y-1 text-[#6b7280] text-sm;
  }
  .file-input-box {
    @apply autos-modal-input  py-0 px-0  file:border-0 file:bg-transparent file:hover:bg-gray-300 file:py-1 file:pr-4 file:pl-2 font-semibold;
  }
  .file-upload-btn {
    @apply flex items-center justify-center gap-x-2 border border-solid py-1 px-3 rounded-e-lg border-gray-600 hover:bg-gray-300 text-sm font-semibold;
  }
  .export-modal-inp-content {
    @apply flex justify-between xl:items-center  xl:flex-row flex-col text-[#6b7280] text-sm;
  }
  .export-modal-input {
    @apply search-input xl:w-96 md:w-72 sm:w-60 w-48 py-1 text-black;
  }
}
